flows_octopi.json
[{"id":"780ee33d.d4e32c","type":"tab","label":"Ender 1","disabled":false,"info":""},{"id":"2a914921.c5b546","type":"tab","label":"Sistema","disabled":false,"info":""},{"id":"85cc6605.ff3328","type":"tab","label":"Dashboard","disabled":false,"info":""},{"id":"a0184fc7.0f683","type":"ui_group","z":"","name":"Ender 1","tab":"","disp":true,"width":22,"collapse":false},{"id":"a6e80f29.c2905","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"3b6058c6.bae588","type":"ui_spacer","name":"spacer","group":"a0184fc7.0f683","order":1,"width":1,"height":1},{"id":"f476cda8.60113","type":"ui_spacer","name":"spacer","group":"a0184fc7.0f683","order":3,"width":1,"height":1},{"id":"7895bb6f.8dfda4","type":"ui_spacer","name":"spacer","group":"a0184fc7.0f683","order":5,"width":1,"height":1},{"id":"a8426049.9a5f6","type":"ui_spacer","name":"spacer","group":"a0184fc7.0f683","order":7,"width":1,"height":1},{"id":"3c90bfd9.5188b","type":"ui_spacer","name":"spacer","group":"a0184fc7.0f683","order":8,"width":1,"height":1},{"id":"4991a3bb.3cdaec","type":"ui_spacer","name":"spacer","group":"a0184fc7.0f683","order":9,"width":1,"height":1},{"id":"5029d44b.01bb9c","type":"ui_spacer","name":"spacer","group":"a0184fc7.0f683","order":10,"width":1,"height":1},{"id":"a6a40b7e.923c78","type":"ui_spacer","name":"spacer","group":"a0184fc7.0f683","order":12,"width":1,"height":1},{"id":"7099710c.b9113","type":"ui_spacer","name":"spacer","group":"a0184fc7.0f683","order":13,"width":1,"height":1},{"id":"e1a4066f.508a28","type":"ui_spacer","name":"spacer","group":"a0184fc7.0f683","order":14,"width":1,"height":1},{"id":"8ccf4c3c.5818a","type":"ui_spacer","name":"spacer","group":"a0184fc7.0f683","order":15,"width":1,"height":1},{"id":"f455c132.89262","type":"ui_spacer","name":"spacer","group":"a0184fc7.0f683","order":16,"width":1,"height":1},{"id":"eaca9924.b58618","type":"ui_spacer","name":"spacer","group":"a0184fc7.0f683","order":17,"width":1,"height":1},{"id":"9319c91b.7a2328","type":"ui_spacer","name":"spacer","group":"a0184fc7.0f683","order":18,"width":1,"height":1},{"id":"d87f5f43.7fe8","type":"ui_spacer","name":"spacer","group":"a0184fc7.0f683","order":19,"width":1,"height":1},{"id":"1710c2b9.d5d1fd","type":"ui_spacer","name":"spacer","group":"a0184fc7.0f683","order":20,"width":1,"height":1},{"id":"9ba8b2a9.f2e91","type":"ui_spacer","name":"spacer","group":"a0184fc7.0f683","order":21,"width":1,"height":1},{"id":"237a4360.61701c","type":"ui_spacer","name":"spacer","group":"a0184fc7.0f683","order":22,"width":1,"height":1},{"id":"5ca5bdc9.917af4","type":"ui_spacer","name":"spacer","group":"a0184fc7.0f683","order":23,"width":1,"height":1},{"id":"555f0855.ac3368","type":"ui_spacer","name":"spacer","group":"a0184fc7.0f683","order":24,"width":1,"height":1},{"id":"38a4d463.84254c","type":"ui_spacer","name":"spacer","group":"a0184fc7.0f683","order":27,"width":11,"height":1},{"id":"cb6ffb58.69eda8","type":"ui_group","z":"","name":"Video Frame","tab":"","disp":true,"width":"11","collapse":false},{"id":"b3d9815b.dab9d","type":"ui_group","z":"","name":"Temp","tab":"","order":3,"disp":true,"width":"6","collapse":false},{"id":"66230c3d.c47184","type":"ui_group","z":"","name":"Move","tab":"","order":4,"disp":true,"width":"6","collapse":false},{"id":"6fd7e574.ea2dfc","type":"ui_group","z":"","name":"Control","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"302277f6.dc9148","type":"ui_group","z":"","name":"Fila Change","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"567360f3.7b58c","type":"http proxy","z":"","name":"","url":"http://192.168.1.7/ender1/","noproxy":[]},{"id":"ba7d5fbc.c46ad","type":"ui_group","z":"","name":"T1","tab":"","disp":true,"width":"6","collapse":false},{"id":"41959110.00eca","type":"serial-port","z":"","serialport":"/dev/ttyUSB0","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"200","bin":"false","out":"time","addchar":"","responsetimeout":"10"},{"id":"be47845d.7f93d8","type":"serial-port","z":"","serialport":"","serialbaud":"57600","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"2f1bb395.6d339c","type":"ui_tab","z":"","name":"Granja  de impresoras 3D","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"a0bff555.3bebc8","type":"ui_group","z":"","name":"Ender 1","tab":"2f1bb395.6d339c","disp":false,"width":"5","collapse":false},{"id":"9797b02c.7c8b6","type":"ui_group","z":"","name":"File upload","tab":"","order":4,"disp":true,"width":"6","collapse":false},{"id":"e53ffe4.6ae0b","type":"ui_tab","z":"","name":"Sistema","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"1bcb92f6.4dad9d","type":"ui_group","z":"","name":"Control","tab":"e53ffe4.6ae0b","disp":true,"width":"6","collapse":false},{"id":"712c47b7.1dbb68","type":"ui_tab","z":"","name":"Ender 1","icon":"dashboard","order":4,"disabled":false,"hidden":true},{"id":"7ca23948.7bdab8","type":"ui_group","z":"","name":"Ender 1","tab":"712c47b7.1dbb68","order":1,"disp":false,"width":"5","collapse":false},{"id":"17381f5f.421321","type":"ui_group","z":"","name":"Temperatura","tab":"712c47b7.1dbb68","order":2,"disp":false,"width":"12","collapse":false},{"id":"84ea915e.ec928","type":"ui_group","z":"","name":"Archivo","tab":"712c47b7.1dbb68","order":3,"disp":false,"width":12,"collapse":false},{"id":"8f7d5a96.93b168","type":"ui_group","z":"","name":"Respuesta","tab":"712c47b7.1dbb68","order":4,"disp":false,"width":12,"collapse":false},{"id":"cc8a209a.032eb","type":"ui_spacer","name":"spacer","group":"7ca23948.7bdab8","order":3,"width":3,"height":1},{"id":"35cea8d7.dc3c18","type":"debug","z":"780ee33d.d4e32c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1430,"y":740,"wires":[]},{"id":"3b12b210.bebcfe","type":"function","z":"780ee33d.d4e32c","name":"Home","func":"var AutoHome={payload:\"G28\\r\\n\"}\nreturn AutoHome;","outputs":1,"noerr":0,"x":385,"y":104,"wires":[["a66644f3.68c538"]]},{"id":"a66644f3.68c538","type":"serial out","z":"780ee33d.d4e32c","name":"","serial":"41959110.00eca","x":1110,"y":680,"wires":[]},{"id":"fe233d19.f7591","type":"serial in","z":"780ee33d.d4e32c","name":"","serial":"41959110.00eca","x":1177.5000076293945,"y":523.500020980835,"wires":[["b0f9a360.13cf2","5be7cc16.9e1314","123b692a.2ec2e7","af34b62c.3496c8","44b73453.f67c6c","35cea8d7.dc3c18"]]},{"id":"eeb21a08.4ea1a8","type":"function","z":"780ee33d.d4e32c","name":"Status Tem","func":"var Listar_archivos_SD={payload:\"M105\\r\\n\"}\nreturn Listar_archivos_SD;","outputs":1,"noerr":0,"x":405,"y":149,"wires":[["a66644f3.68c538"]]},{"id":"7f7338a6.0466e8","type":"inject","z":"780ee33d.d4e32c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":194,"wires":[["33abb5f5.6ae08a"]]},{"id":"b0f9a360.13cf2","type":"split","z":"780ee33d.d4e32c","name":"","splt":"/","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":1367.5000076293945,"y":463.50002098083496,"wires":[["ddee1b50.f28d58","773028b9.4132f8"]]},{"id":"ddee1b50.f28d58","type":"split","z":"780ee33d.d4e32c","name":"","splt":" ","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":1502.5000076293945,"y":463.50002098083496,"wires":[["5194000a.fbc62"]]},{"id":"5194000a.fbc62","type":"switch","z":"780ee33d.d4e32c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"T:","vt":"str"},{"t":"cont","v":"B:","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1637.5000076293945,"y":463.50002098083496,"wires":[["2a9cd9c2.a076e6"],["a2510fb5.065ef"]]},{"id":"a2510fb5.065ef","type":"split","z":"780ee33d.d4e32c","name":"Cama","splt":":","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":1787.5000076293945,"y":463.50002098083496,"wires":[["9b7b6475.42e2e8"]]},{"id":"2a9cd9c2.a076e6","type":"split","z":"780ee33d.d4e32c","name":"Extrusor","splt":":","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":1797.5000076293945,"y":418.50002098083496,"wires":[["ba267c55.609a3"]]},{"id":"ba267c55.609a3","type":"switch","z":"780ee33d.d4e32c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":".","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1937.5000076293945,"y":418.50002098083496,"wires":[["e6ce38f0.0ab878"]]},{"id":"9b7b6475.42e2e8","type":"switch","z":"780ee33d.d4e32c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":".","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1907.5000076293945,"y":463.50002098083496,"wires":[["405dddd1.ab2a24"]]},{"id":"33abb5f5.6ae08a","type":"function","z":"780ee33d.d4e32c","name":"G00","func":"var Mover={payload:\"G00 X50 Y90 Z10\\r\\n\"}\nreturn Mover;","outputs":1,"noerr":0,"x":385,"y":194,"wires":[["a66644f3.68c538"]]},{"id":"fb77fd1c.231d7","type":"function","z":"780ee33d.d4e32c","name":"Info Firmaware","func":"var Info_firmaware={payload:\"M115\\r\\n\"}\nreturn Info_firmaware;","outputs":1,"noerr":0,"x":415,"y":239,"wires":[["a66644f3.68c538"]]},{"id":"254721c5.641e9e","type":"inject","z":"780ee33d.d4e32c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":239,"wires":[["fb77fd1c.231d7"]]},{"id":"10912f05.2fc2c1","type":"inject","z":"780ee33d.d4e32c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":284,"wires":[["241de004.631ad"]]},{"id":"241de004.631ad","type":"function","z":"780ee33d.d4e32c","name":"Escribir Archivo","func":"var Inicio={payload:\"M28 Ejemplo.gcode\\r\\n\"};\nvar Linea1={payload:\"G28\\r\\n\"};\nvar Linea2={payload:\"G00 X50 Y90 Z10\\r\\n\"};\nvar Linea3={payload:\"G00 X40 Y90 Z10\\r\\n\"};\nvar Linea4={payload:\"G00 X50 Y50 Z10\\r\\n\"};\nvar Fin={payload:\"M29\\r\\n\"};\nreturn [ [ Inicio, Linea1, Linea2, Linea3, Linea4, Fin ]];\n\n/*for(var i=0;i<=3;i++)\n{\n    return mensajes[i];\n}*/\n\n","outputs":1,"noerr":0,"x":415,"y":284,"wires":[["a66644f3.68c538"]]},{"id":"e5afbab1.d7d058","type":"function","z":"780ee33d.d4e32c","name":"Eliminar","func":"var Inicio={payload:\"M30 Ejemplo.gcode\\r\\n\"};\nvar Linea1={payload:\"M30 Ejemplo.txt\\r\\n\"};\nreturn Linea1;\n//return [ [ Inicio, Linea1 ]];\n\n","outputs":1,"noerr":0,"x":395,"y":329,"wires":[["a66644f3.68c538"]]},{"id":"ad6f4d6a.1e8cd","type":"inject","z":"780ee33d.d4e32c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":329,"wires":[["e5afbab1.d7d058"]]},{"id":"57159658.2e1578","type":"function","z":"780ee33d.d4e32c","name":"Status Impresion SD","func":"var Mover={payload:\"M27\\r\\n\"}\nreturn Mover;","outputs":1,"noerr":0,"x":435,"y":374,"wires":[["a66644f3.68c538"]]},{"id":"44a60f63.cb17d","type":"inject","z":"780ee33d.d4e32c","name":"","topic":"","payload":"","payloadType":"date","repeat":"10","crontab":"","once":true,"onceDelay":"0","x":240,"y":374,"wires":[["57159658.2e1578"]]},{"id":"93e6aba4.bd8fa8","type":"function","z":"780ee33d.d4e32c","name":"Archivos SD","func":"var Mover={payload:\"M20\\r\\n\"}\nreturn Mover;","outputs":1,"noerr":0,"x":405,"y":419,"wires":[["a66644f3.68c538"]]},{"id":"783ddfbc.9fb8c","type":"inject","z":"780ee33d.d4e32c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":220,"y":60,"wires":[["3b12b210.bebcfe"]]},{"id":"5996c0c2.e038e","type":"function","z":"780ee33d.d4e32c","name":"Init SD","func":"msg.payload = \"M21\\r\\n M20\\r\\n\"\nreturn msg\n\n","outputs":1,"noerr":0,"x":390,"y":520,"wires":[["a66644f3.68c538"]]},{"id":"4efeca4b.8af9e4","type":"inject","z":"780ee33d.d4e32c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":220,"y":520,"wires":[["5996c0c2.e038e"]]},{"id":"ac8ec761.4e6178","type":"ui_button","z":"85cc6605.ff3328","name":"Auto Home","group":"7ca23948.7bdab8","order":1,"width":1,"height":1,"passthru":true,"label":"","tooltip":"","color":"","bgcolor":"","icon":"home","payload":"{\"tab\":\"Granja  de impresoras 3D\"}","payloadType":"json","topic":"","x":190,"y":1000,"wires":[["ec50927e.e8c"]]},{"id":"347bc7e1.f0d908","type":"ui_text","z":"85cc6605.ff3328","group":"8f7d5a96.93b168","order":1,"width":0,"height":0,"name":"","label":"Status : ","format":"{{msg.payload}}","layout":"row-center","x":340,"y":640,"wires":[]},{"id":"af34b62c.3496c8","type":"link out","z":"780ee33d.d4e32c","name":"Ender_1_respuesta","links":["ee6492b9.cdd3a"],"x":1355,"y":600,"wires":[]},{"id":"ee6492b9.cdd3a","type":"link in","z":"85cc6605.ff3328","name":"dash_ender1","links":["af34b62c.3496c8"],"x":135,"y":640,"wires":[["347bc7e1.f0d908"]]},{"id":"2a385da1.76dfa2","type":"link in","z":"780ee33d.d4e32c","name":"Ender_1_home","links":["720974dc.4f449c"],"x":220,"y":100,"wires":[["3b12b210.bebcfe"]]},{"id":"9b71da4.0eb0928","type":"comment","z":"85cc6605.ff3328","name":"Ender 1","info":"","x":170,"y":380,"wires":[]},{"id":"f49c16fd.638708","type":"exec","z":"2a914921.c5b546","command":"sudo reboot","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"reboot","x":397,"y":187,"wires":[[],[],[]]},{"id":"cea278e3.372aa8","type":"inject","z":"2a914921.c5b546","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":237,"y":187,"wires":[["f49c16fd.638708"]]},{"id":"13312f80.456511","type":"link in","z":"2a914921.c5b546","name":"sistema_reboot","links":["5c216961.15d7a8"],"x":260,"y":120,"wires":[["f49c16fd.638708"]]},{"id":"a59ad4e3.963dc8","type":"comment","z":"85cc6605.ff3328","name":"Sistema","info":"","x":180,"y":80,"wires":[]},{"id":"aa8845e0.ddd858","type":"ui_button","z":"85cc6605.ff3328","name":"","group":"1bcb92f6.4dad9d","order":0,"width":0,"height":0,"passthru":false,"label":"Reiniciar","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":180,"y":120,"wires":[["5c216961.15d7a8"]]},{"id":"5c216961.15d7a8","type":"link out","z":"85cc6605.ff3328","name":"dash_reboot","links":["13312f80.456511"],"x":355,"y":120,"wires":[]},{"id":"3a3cfd22.a37122","type":"ping","z":"2a914921.c5b546","name":"","host":"www.google.com","timer":"20","x":260,"y":280,"wires":[["7b58d10e.10cf6"]]},{"id":"7b58d10e.10cf6","type":"switch","z":"2a914921.c5b546","name":"","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"0","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":460,"y":280,"wires":[["9ca3c4ea.6ed6e8"],["5f888c5b.caf0e4"]]},{"id":"9ca3c4ea.6ed6e8","type":"change","z":"2a914921.c5b546","name":"conectado","rules":[{"t":"set","p":"payload","pt":"msg","to":"Conectado","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":260,"wires":[["cbf86391.40dbc"]]},{"id":"5f888c5b.caf0e4","type":"change","z":"2a914921.c5b546","name":"sin internet","rules":[{"t":"set","p":"payload","pt":"msg","to":"Sin Internet","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":320,"wires":[["cbf86391.40dbc"]]},{"id":"cbf86391.40dbc","type":"link out","z":"2a914921.c5b546","name":"sistema_internet","links":["a8520e92.36fbb"],"x":735,"y":280,"wires":[]},{"id":"a8520e92.36fbb","type":"link in","z":"85cc6605.ff3328","name":"dash_internet","links":["cbf86391.40dbc"],"x":135,"y":208,"wires":[["7e417ddf.58f774"]]},{"id":"7e417ddf.58f774","type":"ui_text","z":"85cc6605.ff3328","group":"1bcb92f6.4dad9d","order":1,"width":0,"height":0,"name":"","label":"Internet","format":"{{msg.payload}}","layout":"row-spread","x":320,"y":208,"wires":[]},{"id":"662219b7.51b548","type":"function","z":"780ee33d.d4e32c","name":"Temperaturas","func":"msg.payload = \"M105\\r\\n\"\nreturn msg\n\n","outputs":1,"noerr":0,"x":420,"y":560,"wires":[["a66644f3.68c538"]]},{"id":"ac5a4ee8.deda4","type":"inject","z":"780ee33d.d4e32c","name":"","topic":"","payload":"","payloadType":"date","repeat":"10","crontab":"","once":true,"onceDelay":"2","x":230,"y":560,"wires":[["662219b7.51b548"]]},{"id":"e6ce38f0.0ab878","type":"link out","z":"780ee33d.d4e32c","name":"Ender_1_temp_Ext","links":["29f3a393.3697bc"],"x":2087.5000076293945,"y":398.50002098083496,"wires":[]},{"id":"405dddd1.ab2a24","type":"link out","z":"780ee33d.d4e32c","name":"Ender_1_temp_Bed","links":["3b866b5c.902db4"],"x":2087.5000076293945,"y":478.50002098083496,"wires":[]},{"id":"9ddda7ae.b93aa8","type":"ui_gauge","z":"85cc6605.ff3328","name":"","group":"7ca23948.7bdab8","order":4,"width":5,"height":3,"gtype":"gage","title":"Extrusor","label":"°C","format":"{{value}}","min":0,"max":"250","colors":["#0055b5","#e6e600","#ca3838"],"seg1":"","seg2":"","x":320,"y":680,"wires":[]},{"id":"6af5c0da.63c35","type":"ui_gauge","z":"85cc6605.ff3328","name":"","group":"7ca23948.7bdab8","order":6,"width":5,"height":3,"gtype":"gage","title":"Cama","label":"°C","format":"{{value}}","min":0,"max":"150","colors":["#0055b5","#e6e600","#ca3838"],"seg1":"","seg2":"","x":330,"y":800,"wires":[]},{"id":"29f3a393.3697bc","type":"link in","z":"85cc6605.ff3328","name":"dash_ender1_temp_Ext","links":["e6ce38f0.0ab878"],"x":143,"y":692,"wires":[["9ddda7ae.b93aa8","b84d87a8.febb38","8cf21a4f.359158"]]},{"id":"3b866b5c.902db4","type":"link in","z":"85cc6605.ff3328","name":"dash_ender1_temp_Bed","links":["405dddd1.ab2a24"],"x":143,"y":754,"wires":[["6af5c0da.63c35","e940f08d.e419a"]]},{"id":"1094386c.182468","type":"function","z":"780ee33d.d4e32c","name":"Cambiar filamento","func":"msg.payload = \"M600\\r\\n\"\nreturn msg\n\n","outputs":1,"noerr":0,"x":410,"y":620,"wires":[["a66644f3.68c538"]]},{"id":"150e5890.ea1777","type":"inject","z":"780ee33d.d4e32c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":220,"y":620,"wires":[["1094386c.182468"]]},{"id":"e1e036d2.c9e668","type":"function","z":"780ee33d.d4e32c","name":"Calentar Extrusor","func":"msg.payload = \"M109 S180\\r\\n\"\nreturn msg\n\n","outputs":1,"noerr":0,"x":410,"y":680,"wires":[["a66644f3.68c538"]]},{"id":"47a6c5b7.469ecc","type":"inject","z":"780ee33d.d4e32c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":220,"y":680,"wires":[["e1e036d2.c9e668"]]},{"id":"e8ea643d.c54768","type":"ui_button","z":"85cc6605.ff3328","name":"Filamento","group":"a0bff555.3bebc8","order":4,"width":1,"height":1,"passthru":true,"label":"","tooltip":"","color":"","bgcolor":"","icon":"fa-exchange","payload":"","payloadType":"str","topic":"Ender1","x":180,"y":420,"wires":[["e0180e35.a495b"]]},{"id":"e0180e35.a495b","type":"link out","z":"85cc6605.ff3328","name":"dash_ender1_filamento","links":["7dfc1821.37a428"],"x":375,"y":420,"wires":[]},{"id":"7dfc1821.37a428","type":"link in","z":"780ee33d.d4e32c","name":"Ender_1_filamento","links":["e0180e35.a495b"],"x":180,"y":760,"wires":[["bbf72479.3210b8","e1e036d2.c9e668"]]},{"id":"f5b088bf.d99c08","type":"inject","z":"780ee33d.d4e32c","name":"","topic":"","payload":"","payloadType":"date","repeat":"10","crontab":"","once":true,"onceDelay":"1","x":230,"y":860,"wires":[["6568dcf5.7f0c74"]]},{"id":"6568dcf5.7f0c74","type":"function","z":"780ee33d.d4e32c","name":"SD Print stats","func":"msg.payload = \"M78\\r\\n\"\nreturn msg\n\n","outputs":1,"noerr":0,"x":400,"y":860,"wires":[["a66644f3.68c538"]]},{"id":"7a9dd72d.605218","type":"inject","z":"780ee33d.d4e32c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":220,"y":920,"wires":[["315b470f.937f58"]]},{"id":"315b470f.937f58","type":"function","z":"780ee33d.d4e32c","name":"Reiniciar impresión","func":"msg.payload = \"M24\\r\\n\"\nreturn msg\n\n","outputs":1,"noerr":0,"x":410,"y":920,"wires":[["a66644f3.68c538"]]},{"id":"17e81105.9e9eaf","type":"link in","z":"780ee33d.d4e32c","name":"Ender_1_resume","links":["69e4010c.56984"],"x":175,"y":800,"wires":[["db04fe94.c7cc5"]]},{"id":"12a6b7fa.0b25b8","type":"ui_button","z":"85cc6605.ff3328","name":"Resume","group":"a0bff555.3bebc8","order":3,"width":1,"height":1,"passthru":true,"label":"","tooltip":"","color":"","bgcolor":"","icon":"fa-repeat","payload":"","payloadType":"str","topic":"","x":180,"y":460,"wires":[["69e4010c.56984"]]},{"id":"69e4010c.56984","type":"link out","z":"85cc6605.ff3328","name":"dash_ender1_resume","links":["17e81105.9e9eaf"],"x":375,"y":460,"wires":[]},{"id":"d86c2eec.29462","type":"function","z":"780ee33d.d4e32c","name":"Cancelar impresión","func":"msg.payload = \"M524\\r\\n\"\nreturn msg\n\n","outputs":1,"noerr":0,"x":410,"y":1020,"wires":[["a66644f3.68c538"]]},{"id":"88bc5f04.4279e","type":"inject","z":"780ee33d.d4e32c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":220,"y":1000,"wires":[["d86c2eec.29462"]]},{"id":"62dc7197.92427","type":"ui_button","z":"85cc6605.ff3328","name":"Stop","group":"a0bff555.3bebc8","order":6,"width":1,"height":1,"passthru":true,"label":"","tooltip":"","color":"","bgcolor":"red","icon":"fa-stop","payload":"","payloadType":"str","topic":"","x":550,"y":440,"wires":[["2bc3606c.e75aa"]]},{"id":"ca2613ec.835c","type":"link out","z":"85cc6605.ff3328","name":"dash_ender1_stop","links":["759c7354.0cfe6c"],"x":895,"y":440,"wires":[]},{"id":"d05614ff.8ee1a8","type":"link in","z":"780ee33d.d4e32c","name":"Ender_1_stop","links":[],"x":255,"y":1060,"wires":[["d86c2eec.29462"]]},{"id":"bbf72479.3210b8","type":"delay","z":"780ee33d.d4e32c","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":360,"y":760,"wires":[["1094386c.182468"]]},{"id":"b84d87a8.febb38","type":"ui_gauge","z":"85cc6605.ff3328","name":"","group":"a0bff555.3bebc8","order":1,"width":5,"height":"3","gtype":"gage","title":"Ender 1","label":"°C","format":"{{value}}","min":0,"max":"250","colors":["#0055b5","#e6e600","#ca3838"],"seg1":"","seg2":"","x":320,"y":720,"wires":[]},{"id":"8cebeb4c.7d0088","type":"ui_button","z":"85cc6605.ff3328","name":"Menu","group":"a0bff555.3bebc8","order":5,"width":1,"height":1,"passthru":true,"label":"","tooltip":"","color":"","bgcolor":"","icon":"fa-cogs","payload":"{\"tab\":\"Ender 1\"}","payloadType":"json","topic":"","x":170,"y":560,"wires":[["dff29467.1c6f08"]]},{"id":"dff29467.1c6f08","type":"ui_ui_control","z":"85cc6605.ff3328","name":"","events":"all","x":340,"y":560,"wires":[[]]},{"id":"9a09b158.ac10b","type":"ui_button","z":"85cc6605.ff3328","name":"","group":"1bcb92f6.4dad9d","order":0,"width":0,"height":0,"passthru":false,"label":"Apagar","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":180,"y":160,"wires":[["4bd959d4.53d138"]]},{"id":"4bd959d4.53d138","type":"link out","z":"85cc6605.ff3328","name":"dash_apagar","links":["30c798e8.a4a9a8"],"x":355,"y":160,"wires":[]},{"id":"3a26bc75.c02f34","type":"exec","z":"2a914921.c5b546","command":"sudo halt","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"off","x":390,"y":60,"wires":[[],[],[]]},{"id":"30c798e8.a4a9a8","type":"link in","z":"2a914921.c5b546","name":"sistema_apagar","links":["4bd959d4.53d138"],"x":255,"y":60,"wires":[["3a26bc75.c02f34"]]},{"id":"4c4cea88.8d67c4","type":"ui_button","z":"85cc6605.ff3328","name":"Pausa","group":"a0bff555.3bebc8","order":2,"width":1,"height":1,"passthru":true,"label":"","tooltip":"","color":"","bgcolor":"","icon":"fa-pause","payload":"","payloadType":"str","topic":"","x":170,"y":600,"wires":[["3c271a48.6dda56"]]},{"id":"3c271a48.6dda56","type":"link out","z":"85cc6605.ff3328","name":"dash_ender1_pausa","links":["5539ded7.3c50f"],"x":360,"y":600,"wires":[]},{"id":"2f107a97.3b3ff6","type":"function","z":"780ee33d.d4e32c","name":"Pausar impresión","func":"msg.payload = \"M25\\r\\n\"\nreturn msg\n\n","outputs":1,"noerr":0,"x":410,"y":1140,"wires":[["a66644f3.68c538"]]},{"id":"20d281eb.6c8f6e","type":"inject","z":"780ee33d.d4e32c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":220,"y":1120,"wires":[["2f107a97.3b3ff6"]]},{"id":"5539ded7.3c50f","type":"link in","z":"780ee33d.d4e32c","name":"Ender_1_pausa","links":["3c271a48.6dda56"],"x":255,"y":1180,"wires":[["2f107a97.3b3ff6"]]},{"id":"b1d89e01.6978b","type":"ui_button","z":"85cc6605.ff3328","name":"Reiniciar maquina","group":"7ca23948.7bdab8","order":2,"width":1,"height":1,"passthru":true,"label":"","tooltip":"","color":"blue","bgcolor":"red","icon":"fa-refresh","payload":"¿Seguro que deseas reiniciar la impresora?","payloadType":"str","topic":"Ender 1","x":210,"y":1060,"wires":[["6047ae6e.8c1da"]]},{"id":"6047ae6e.8c1da","type":"ui_toast","z":"85cc6605.ff3328","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"Cancelar","raw":false,"topic":"","name":"","x":410,"y":1060,"wires":[["71467e06.a4397"]]},{"id":"81be1b5f.7de998","type":"link out","z":"85cc6605.ff3328","name":"dash_ender1_reiniciar","links":["2afb463.4c2a1ba"],"x":655,"y":1060,"wires":[]},{"id":"71467e06.a4397","type":"switch","z":"85cc6605.ff3328","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"OK","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":570,"y":1060,"wires":[["81be1b5f.7de998"]]},{"id":"5be7cc16.9e1314","type":"switch","z":"780ee33d.d4e32c","name":"Archivo","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"Begin file list","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1300,"y":340,"wires":[["ed05ab23.8211b8"]]},{"id":"ed05ab23.8211b8","type":"split","z":"780ee33d.d4e32c","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":1430,"y":340,"wires":[["30902809.5b5388"]]},{"id":"30902809.5b5388","type":"switch","z":"780ee33d.d4e32c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":".GCO","vt":"str"},{"t":"cont","v":"End","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1630,"y":340,"wires":[["14b0466f.f0bafa"],["626d2995.b77f08"]]},{"id":"d72d0c4a.60da4","type":"function","z":"780ee33d.d4e32c","name":"","func":"\n//var op = [ {\"Choice 1\":\"1\"}, \"Choice 2\", {\"Choice 3\":\"3\"} ]\n//msg.options= op\n//return msg;\n\nlet op = msg.payload \nmsg.options= op\nreturn msg;\n/*msg.options = [];//create empty array\n\n//for(let i = 0; i < msg.payload.length; i++){\n        let row = msg.payload;//[i]; //get the row\n        let opt = {};//make new opt object\n        //opt[i] = row[i];//[i]; //add a propery to object called row[0] & set its value to row[1]\n        msg.options.push(row);//add the opt to array    \n  // }\n*/\n//return msg;","outputs":1,"noerr":0,"x":2130,"y":340,"wires":[["4d07589d.d79ba8"]]},{"id":"14b0466f.f0bafa","type":"join","z":"780ee33d.d4e32c","name":"Areglo","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":":","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":1990,"y":340,"wires":[["d72d0c4a.60da4"]]},{"id":"4555ddf5.9f6b64","type":"ui_chart","z":"85cc6605.ff3328","name":"","group":"17381f5f.421321","order":1,"width":12,"height":6,"label":"Temperatura","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":710,"y":740,"wires":[[]]},{"id":"8cf21a4f.359158","type":"change","z":"85cc6605.ff3328","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"Ext","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":700,"wires":[["4555ddf5.9f6b64"]]},{"id":"e940f08d.e419a","type":"change","z":"85cc6605.ff3328","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"Bed","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":760,"wires":[["4555ddf5.9f6b64"]]},{"id":"626d2995.b77f08","type":"change","z":"780ee33d.d4e32c","name":"","rules":[{"t":"set","p":"msg.complete","pt":"msg","to":"true","tot":"bool"},{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1820,"y":360,"wires":[["14b0466f.f0bafa"]]},{"id":"4d07589d.d79ba8","type":"link out","z":"780ee33d.d4e32c","name":"Ender_1_Archivos","links":["14d584bf.90a04b"],"x":2235,"y":340,"wires":[]},{"id":"820122f3.bb9d7","type":"ui_dropdown","z":"85cc6605.ff3328","name":"","label":"","tooltip":"","place":"Seleccionar archivo","group":"84ea915e.ec928","order":2,"width":10,"height":1,"passthru":false,"options":[],"payload":"","topic":"","x":240,"y":1200,"wires":[["a55dbd06.4310d"]]},{"id":"14d584bf.90a04b","type":"link in","z":"85cc6605.ff3328","name":"dash_ender1_archivos","links":["4d07589d.d79ba8"],"x":138.75000190734863,"y":1201.2500143051147,"wires":[["820122f3.bb9d7"]]},{"id":"e16385ec.448318","type":"ui_button","z":"85cc6605.ff3328","name":"Cargar Archivos","group":"84ea915e.ec928","order":1,"width":1,"height":1,"passthru":true,"label":"","tooltip":"","color":"","bgcolor":"","icon":"fa-folder-open","payload":"","payloadType":"str","topic":"Ender 1","x":200,"y":1120,"wires":[["25f4db05.950944"]]},{"id":"25f4db05.950944","type":"link out","z":"85cc6605.ff3328","name":"dash_ender1_cargar_archivos","links":["6ac7ff41.56ff8"],"x":460,"y":1120,"wires":[]},{"id":"6ac7ff41.56ff8","type":"link in","z":"780ee33d.d4e32c","name":"Ender_1_cargar_archivos","links":["25f4db05.950944"],"x":175,"y":420,"wires":[["93e6aba4.bd8fa8"]]},{"id":"c87a7451.e39268","type":"ui_button","z":"85cc6605.ff3328","name":"Imprimir","group":"84ea915e.ec928","order":3,"width":1,"height":1,"passthru":true,"label":"","tooltip":"","color":"","bgcolor":"","icon":"fa-play","payload":"file","payloadType":"global","topic":"Ender 1","x":180,"y":1280,"wires":[["4338e763.d3d438"]]},{"id":"75100235.269c3c","type":"function","z":"85cc6605.ff3328","name":"Imprimir Archivo","func":"var file = msg.payload\n\nvar Inicio={payload:\"M23\" + file +\"\\r\\n\"};\nvar Fin={payload:\"M24\\r\\n\"};\nreturn [ [ Inicio, Fin ]];","outputs":1,"noerr":0,"x":500,"y":1260,"wires":[["a830d205.9d1da"]]},{"id":"a55dbd06.4310d","type":"split","z":"85cc6605.ff3328","name":"","splt":" ","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":370,"y":1200,"wires":[["75229d6.b732b64"]]},{"id":"fde8fbae.452f98","type":"debug","z":"85cc6605.ff3328","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":830,"y":1200,"wires":[]},{"id":"75229d6.b732b64","type":"switch","z":"85cc6605.ff3328","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":".GCO","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":490,"y":1200,"wires":[["f39ad429.fa4308"]]},{"id":"f39ad429.fa4308","type":"change","z":"85cc6605.ff3328","name":"","rules":[{"t":"set","p":"file","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":1200,"wires":[["fde8fbae.452f98"]]},{"id":"a830d205.9d1da","type":"link out","z":"85cc6605.ff3328","name":"dash_ender1_imprimir","links":["759c7354.0cfe6c"],"x":635,"y":1260,"wires":[]},{"id":"759c7354.0cfe6c","type":"link in","z":"780ee33d.d4e32c","name":"Ender_1_serial","links":["a830d205.9d1da","a18c39bd.9eb298","559be1f.763f82","c85689f7.6ed638","ca2613ec.835c"],"x":875,"y":320,"wires":[["a66644f3.68c538"]]},{"id":"4d7764b9.aa794c","type":"ui_numeric","z":"85cc6605.ff3328","name":"","label":"Cama","tooltip":"","group":"7ca23948.7bdab8","order":7,"width":0,"height":0,"wrap":true,"passthru":false,"topic":"","format":"{{msg.payload}} &deg C","min":0,"max":"150","step":1,"x":330,"y":840,"wires":[["827cb0a0.4ed72"]]},{"id":"827cb0a0.4ed72","type":"function","z":"85cc6605.ff3328","name":"Temp Cama","func":"var bed = msg.payload\n\nvar Inicio={payload:\"M140 S\" + bed +\"\\r\\n\"};\nreturn Inicio","outputs":1,"noerr":0,"x":510,"y":840,"wires":[["a18c39bd.9eb298"]]},{"id":"a18c39bd.9eb298","type":"link out","z":"85cc6605.ff3328","name":"dash_ender1_cama","links":["759c7354.0cfe6c"],"x":615,"y":840,"wires":[]},{"id":"773028b9.4132f8","type":"switch","z":"780ee33d.d4e32c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"B@:","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1510,"y":520,"wires":[["51b273c4.df2d5c"]]},{"id":"51b273c4.df2d5c","type":"split","z":"780ee33d.d4e32c","name":"","splt":" ","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":1630,"y":520,"wires":[["85e8d447.a525a8"]]},{"id":"85e8d447.a525a8","type":"switch","z":"780ee33d.d4e32c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":".","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1770,"y":520,"wires":[["56077a48.077c84"]]},{"id":"b3cce9f5.a20508","type":"link in","z":"85cc6605.ff3328","name":"dash_ender1_cama_set","links":["56077a48.077c84"],"x":155,"y":840,"wires":[["4d7764b9.aa794c"]]},{"id":"56077a48.077c84","type":"link out","z":"780ee33d.d4e32c","name":"Ender_1_cama_set","links":["b3cce9f5.a20508","fd917ee3.07bac"],"x":2095,"y":520,"wires":[]},{"id":"123b692a.2ec2e7","type":"switch","z":"780ee33d.d4e32c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"T:","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1390,"y":560,"wires":[["e29aca78.25b598"]]},{"id":"e29aca78.25b598","type":"split","z":"780ee33d.d4e32c","name":"","splt":"B:","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":1550,"y":560,"wires":[["3467a24e.a3a27e"]]},{"id":"3467a24e.a3a27e","type":"switch","z":"780ee33d.d4e32c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"T:","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1690,"y":560,"wires":[["5b40c952.ead198"]]},{"id":"5b40c952.ead198","type":"split","z":"780ee33d.d4e32c","name":"","splt":"/","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":1810,"y":560,"wires":[["99b20e33.c8b8f"]]},{"id":"99b20e33.c8b8f","type":"switch","z":"780ee33d.d4e32c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"T:","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1930,"y":560,"wires":[[],["e1d2ea50.227b78"]]},{"id":"e1d2ea50.227b78","type":"link out","z":"780ee33d.d4e32c","name":"Ender_1_ext_set","links":["86d57349.3f662"],"x":2095,"y":560,"wires":[]},{"id":"d92df057.c000c","type":"ui_numeric","z":"85cc6605.ff3328","name":"","label":"Extrusor","tooltip":"","group":"7ca23948.7bdab8","order":5,"width":0,"height":0,"wrap":true,"passthru":false,"topic":"","format":"{{msg.payload}} &deg C","min":0,"max":"250","step":1,"x":340,"y":900,"wires":[["eae0f61e.ac1468"]]},{"id":"eae0f61e.ac1468","type":"function","z":"85cc6605.ff3328","name":"Temp Extr","func":"var ext = msg.payload\n\nvar Inicio={payload:\"M109 S\" + ext +\"\\r\\n\"};\nreturn Inicio","outputs":1,"noerr":0,"x":500,"y":900,"wires":[["c85689f7.6ed638"]]},{"id":"c85689f7.6ed638","type":"link out","z":"85cc6605.ff3328","name":"dash_ender1_cama","links":["759c7354.0cfe6c"],"x":615,"y":900,"wires":[]},{"id":"86d57349.3f662","type":"link in","z":"85cc6605.ff3328","name":"dash_ender1_cama_set","links":["e1d2ea50.227b78"],"x":155,"y":900,"wires":[["d92df057.c000c"]]},{"id":"2bc3606c.e75aa","type":"function","z":"85cc6605.ff3328","name":"Reiniciar impresora","func":"msg.payload = \"M999 Strue\\r\\n\"\nreturn msg\n\n","outputs":1,"noerr":0,"x":730,"y":440,"wires":[["ca2613ec.835c"]]},{"id":"6d067102.3ef77","type":"inject","z":"85cc6605.ff3328","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":560,"y":400,"wires":[["2bc3606c.e75aa"]]},{"id":"ec50927e.e8c","type":"ui_ui_control","z":"85cc6605.ff3328","name":"","events":"all","x":400,"y":1000,"wires":[[]]},{"id":"44b73453.f67c6c","type":"switch","z":"780ee33d.d4e32c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"TF printing byte","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1390,"y":660,"wires":[["2549dd6.a409122"]]},{"id":"4dafb33c.da1adc","type":"switch","z":"780ee33d.d4e32c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"/","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1790,"y":660,"wires":[["c226eafa.3833a8"]]},{"id":"e66d5519.409f88","type":"split","z":"780ee33d.d4e32c","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":1650,"y":660,"wires":[["4dafb33c.da1adc"]]},{"id":"2549dd6.a409122","type":"csv","z":"780ee33d.d4e32c","name":"","sep":" ","hdrin":"","hdrout":"","multi":"one","ret":"\\n","temp":"","skip":"0","strings":true,"x":1510,"y":660,"wires":[["e66d5519.409f88"]]},{"id":"c226eafa.3833a8","type":"csv","z":"780ee33d.d4e32c","name":"","sep":"/","hdrin":"","hdrout":"","multi":"one","ret":"\\n","temp":"","skip":"0","strings":true,"x":1910,"y":660,"wires":[["f305bf59.3d737"]]},{"id":"f305bf59.3d737","type":"switch","z":"780ee33d.d4e32c","name":"","property":"payload.col2","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":2070,"y":660,"wires":[["b6aae569.17e848"],["17e9b965.717d97"]]},{"id":"b6aae569.17e848","type":"change","z":"780ee33d.d4e32c","name":"","rules":[{"t":"set","p":"imprimiendo","pt":"global","to":"false","tot":"bool"},{"t":"set","p":"payload","pt":"msg","to":"No hay impresión","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2220,"y":640,"wires":[["ea7983b5.7633e"]]},{"id":"4338e763.d3d438","type":"switch","z":"85cc6605.ff3328","name":"","property":"imprimiendo","propertyType":"global","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","repair":false,"outputs":2,"x":330,"y":1280,"wires":[["75100235.269c3c","a605733c.5d3ea"],["b5813017.a2efb"]]},{"id":"e9315048.3e926","type":"ui_toast","z":"85cc6605.ff3328","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"Enterado","cancel":"","raw":false,"topic":"","name":"","x":670,"y":1340,"wires":[[]]},{"id":"b5813017.a2efb","type":"change","z":"85cc6605.ff3328","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"No es posible, hay una impresión en curso","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":1340,"wires":[["e9315048.3e926"]]},{"id":"d67ae051.a0655","type":"ui_toast","z":"85cc6605.ff3328","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"Enterado","cancel":"","raw":false,"topic":"","name":"","x":670,"y":1300,"wires":[[]]},{"id":"a605733c.5d3ea","type":"change","z":"85cc6605.ff3328","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Enviado archivo","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":1300,"wires":[["d67ae051.a0655"]]},{"id":"17e9b965.717d97","type":"change","z":"780ee33d.d4e32c","name":"","rules":[{"t":"set","p":"imprimiendo","pt":"global","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":2240,"y":700,"wires":[["95dbee32.2108d","ea325146.6f9e9"]]},{"id":"95dbee32.2108d","type":"function","z":"780ee33d.d4e32c","name":"","func":"var total = msg.payload.col2;\nvar actual = msg.payload.col1;\n\nmsg.payload = ((actual * 100) / total).toFixed(2);\n\nreturn msg;","outputs":1,"noerr":0,"x":2430,"y":700,"wires":[["ea7983b5.7633e"]]},{"id":"501cb9f2.c69b48","type":"link in","z":"85cc6605.ff3328","name":"dash_ender1_SD_status","links":["ea7983b5.7633e"],"x":135,"y":520,"wires":[["50710a2d.6172b4"]]},{"id":"ea7983b5.7633e","type":"link out","z":"780ee33d.d4e32c","name":"Ender_1_SD_status","links":["501cb9f2.c69b48"],"x":2620,"y":600,"wires":[]},{"id":"db04fe94.c7cc5","type":"switch","z":"780ee33d.d4e32c","name":"","property":"imprimiendo","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":270,"y":800,"wires":[["e1e036d2.c9e668","40cb41b5.c05c2"]]},{"id":"40cb41b5.c05c2","type":"delay","z":"780ee33d.d4e32c","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":460,"y":800,"wires":[["315b470f.937f58"]]},{"id":"ea325146.6f9e9","type":"debug","z":"780ee33d.d4e32c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":2440,"y":780,"wires":[]},{"id":"50710a2d.6172b4","type":"ui_slider","z":"85cc6605.ff3328","name":"","label":"","tooltip":"","group":"a0bff555.3bebc8","order":6,"width":0,"height":0,"passthru":true,"outs":"end","topic":"","min":0,"max":"100","step":1,"x":340,"y":520,"wires":[[]]}]